/* -------------------- General styles -------------------------*/

body {
    margin: 0 auto;
    font-family: 'Smythe', cursive;
    max-width: 720px;
}

header{
    color: #FFF;
    background-image: url(images/bg-burger.jpg);
    background-size: cover;
    background-position: bottom;
    margin: 0px auto;
    padding: 20px 40px 20px 40px;
}

.menu, .ordered-item-details, .total-price-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid lightgrey;
}

.menu {
    margin: 1em 3em;
}


/* ------------------------ TYPOGRAPHY-------------------------- */

h1{
    letter-spacing: 0.2rem;
    font-size: 2.4375rem;
}

h2 {
    margin-top: 10px;
    font-size: 1.40625rem;
    letter-spacing: 0.1rem;
}

h3 {
    font-size: 1.75rem;
}

h4 {
    font-size: 1.25rem;
}

h1, .menu h3 {
    margin-bottom: 0;
}

.menu h4{
    margin-top: 0;
}

h1, h2 {
     text-shadow: 2px 2px 4px black;
}

p {
    font-size: 1.1rem;
    color: gray;
}

.ordered-item-option p {
    cursor: pointer;
}

/*span {
    font-size: 1.5rem;
}*/

.ordered-item-details h4, .total-price-details h4 {
    margin-left: 0.5em;
}

.total-price-details h3, .total-price-details h4 {
    margin-top: 0.5em;
}

.ordered-item-option p {
    margin-left: 0.5em;
}



/* --------------------------- BUTTONS -------------------- */

.add_to_order {
    margin-left: 0.3em;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid lightgrey;
    background-color: #FFF;
    font-size: 2rem;
    padding: 0;
}

.add_to_order:hover {
    transform: scale(1.1);
    border: 1px solid gray;
}

.add_to_order:disabled {
    border: 1px solid lightgrey;
    transform: scale(1);
    cursor: not-allowed;
}

.complete-order-btn, #pay {
    background-color: #5AE1B4;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    border: none;
    margin-top: 1.5em;
    padding-top: 1em;
    padding-bottom: 1em;
    border-radius: 5px;
}

.complete-order-btn:hover, #pay:hover {
    background-color: #16DB99;
}

.complete-order-btn:disabled {
    background-color: gray;
    cursor: not-allowed;
}
.close-btn {
    font-weight: bold;
    background-color: transparent;
    border: 1px solid transparent;
    color: gray;
    margin-right: -5em;
}

.close-btn:hover,
.close-btn:active {
    color: #5AE1B4;
    cursor: pointer;
}


/* --------------------------- Order Section ----------------- */

#order_section {
    margin: 1em 6em;
}

.title-section {
    margin-top: 2em;
    text-align: center;
}

.ordered-item-details {
    margin-bottom: -1em;
    border-bottom: none;
    display: flex;
    justify-content: space-between;
}

.total-price-details {
    border-top: 1px solid gray;
    border-bottom: none;
}

#ordered-price {
    border-bottom: none;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
}

.ordered-item-option {
    display:flex;
    flex-direction: row;
    align-items: center;
}


/* --------------------------- Payment form section ----------------- */

.payment-form h3, .title-elem {
    font-size: 1.5rem;
}

.payment-form h3{
    margin-bottom: 1.5em;
    align-self: center
}

.payment-form {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    position: fixed;
    top: 0;
    bottom: 0;
    left:0;
    right:0;
    width: 60%;
    max-height: 80%;
    margin: 2em auto;
    padding: 1.2em;
    background-color: whitesmoke;
    border-radius: 5px;
    box-shadow: 1px 1px 30px 40px lightgray;
}

.payment {
    display: flex;
    flex-direction: column;
    margin: 1em auto;
    width: 60%
}

input {
    margin-bottom: 0.8em;
    padding: 0.5em;
}

/* --------------------------- Confirmation section ----------------- */

.confirmation {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    align-items: center;
    margin: 2em 4em;
    padding: 3em 2em;
    background-color: #A1E6CF;
    color: #27614E;
}

.confirmation h3 {
    text-align: center;
    margin: 0 auto;
}

.confirmation h3 span {
    display: block;
}

/* --------------------------- MEDIA QUERY ----------------- */

@media screen and (max-width: 420px) {
    
    body {
        margin: 0 auto;
    }
    
    .add_to_order {
        max-height: 40px;
        max-width: 40px;
    }
    
    .complete-order-btn {
        font-size: 0.9rem;
        min-width: 65px;
    }
    
    #pay {
        margin: 1em auto;
        font-size: 0.9 rem;
    }
    
    .confirmation h3, .confirmation h3 span {
        font-size: 18px;
    }
    
    .confirmation {
        min-width: 65px;
        margin: 1em auto;
        padding: 0.5em;
    }
    
    .payment-form {
        margin: 1em auto;
        width: 80%;
        min-height: 350px;
        border: 1px solid red;
    }

    
    .payment-form h3, .title-elem {
        font-size: 1.1rem;
    }
    
    input {
        font-size: 0.9rem;
    }
    
}

@media screen and (min-width: 420px) and (max-width: 550px) {

    .payment-form {
        margin: 1em auto;
        max-height: 60%;
    }

    .payment-form h3, .title-elem {
        font-size: 1.1rem;
    }
    
    input {
        font-size: 0.9rem;
    }

}

@media screen and (min-width: 550px) {
    header{
        background-position: center;
        background-position-y: -120px;
    }
    
    .add_to_order {
        max-height: 40px;
        max-width: 40px;
    }
    

    .close-btn {
        font-size: 1.4rem;
    }

    .confirmation h3, .confirmation h3 span {
        font-size: 1.2rem;
    }
}

@media screen and (min-width: 550px) {
    header{
        background-position: center;
        background-position-y: -200px;
        background-repeat: no-repeat;
    }
}

.hidden{
    display: none;
}